{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Joglo Dhepis Borobudur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">Joglo Dhepis</div>
        <nav class="navbar">
            <a href="{% url 'homestay:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="{% url 'homestay:room_list' %}" class="{% if request.resolver_match.url_name == 'room_list' %}active{% endif %}">
                <i class="fas fa-bed"></i> Rooms
            </a>
            <a href="{% url 'myresto:restaurant_list' %}" class="{% if request.resolver_match.url_name == 'restaurant_list' %}active{% endif %}">
                <i class="fas fa-utensils"></i> Restaurant
            </a>
            <a href="{% url 'homestay:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                <i class="fas fa-envelope"></i> Contact
            </a>
        </nav>
        <!-- Tiga Titik Menu untuk Tampilan Kecil -->
        <div class="menu-toggle" onclick="toggleNavbar()">
            <i class="fas fa-bars"></i>
        </div>
        <a href="{% url 'homestay:reservation' %}" class="btn btn-primaryR">Reservation</a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

 <footer>
    <div class="footer-container">
        <div class="footer-section about">
            <div class="footer-logo">
                <img src="{% static 'image/logo.png' %}" alt="joglo">
                <h3>HOMESTAY JOGLODHEPIS</h3>
            </div>
            <p>Info lengkap mengenai Homestay Joglo Dhepis Borobudur dan layanan lainnya.</p>
            <div class="footer-social-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
        <div class="footer-section services">
            <h4>Layanan</h4>
            <ul>
                <li>Pemesanan Online</li>
                <li>Bayar di Tempat</li>
                <li>Upgrade Kamar</li>
                <li>View Wisata</li>
                <li>Rumah Makan</li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h4>Hubungi Kami</h4>
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <div class="contact-info">
                    <span>No WhatsApp</span>
                    <p>+6285801262682</p>
                </div>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <div class="contact-info">
                    <span>Email</span>
                    <p>joglodhepis1@gmail.com</p>
                </div>
            </div>
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <div class="contact-info">
                    <span>Lokasi</span>
                    <p>JogloDhepis</p>
                </div>
            </div>
        </div>
    </div>
</footer>


    <div class="footer-bottom">
        <p><b>&copy; 2025 Homestay JogloDhepis.</b></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function toggleNavbar() {
            const navbar = document.querySelector('.navbar');
            navbar.classList.toggle('active');
        }
    </script>
</body>
</html>
