
.hero-slide {
    animation: fadeSlide 1.5s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}





/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* Body */
body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: moveGradient 10s ease infinite;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: linear-gradient(135deg, rgba(28, 28, 30, 0.8), rgba(58, 58, 60, 0.8));
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}

.navbar a.active {
    color: #FF5733;
    font-weight: bold;
}

.navbar a.active::after {
    background-color: #FF5733;
}

.navbar a:hover {
    color: #FF5733;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FF5733;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-primaryR{
    background-color: #007bff;
    border: none;
}

.btn-primaryR:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-secondary {
    background-color: #28a745;
    border: none;
}

.btn-secondary:hover {
    background-color: #218838;
    transform: scale(1.1);
}

.hero-overlay .btn {
    width: 80%;
    max-width: 300px;
    padding: 12px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 15px; /* Menambahkan jarak antar tombol */
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background 2s ease-in-out;
}

  .slideshow-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

   .hero-slide {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;;
    }

    .hero-slide.active {
        opacity: 1;
        animation: fadeScale 1.5s ease-in-out;

    }

    .hero-slide.fade-out {
    opacity: 0;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20px;
    transition: transform 0.2s ease-out;
}

.hero-content {
    position: relative;
    z-index: 1;
    animation: zoomFade 1.5s ease-in-out;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
    animation: shake 0.8s ease infinite;
}

.hero-title-1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
    animation: shake 0.8s ease infinite;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Content Section */
.content {
    padding: 80px 30px;
    text-align: center;
    background-color: #f4f4f4;
}

.content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.content p {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

.features {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    width: 30%;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.feature p {
    font-size: 1rem;
    color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 40px 30px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin-bottom: 20px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-icons a {
    color: #FF5733;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: white;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

/* Menambahkan kelas untuk animasi slide-up */
.animate-slide-up {
    opacity: 0; /* Awalnya elemen tersembunyi */
    transform: translateY(50px); /* Elemen berada di bawah dari posisi normal */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transisi untuk opacity dan transform */
}

.animate-slide-up.visible {
    opacity: 1; /* Menampilkan elemen */
    transform: translateY(0); /* Mengembalikan elemen ke posisi semula */
}



/* Responsive Design */
@media (max-width: 768px) {

    .navbar {
    position: fixed;
    top: 75px;
    right: -100%;
    width: 100%;
    height: 60%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    transition: right 0.5s ease-in-out;
    z-index: 999;
}

    .navbar.active {
        right: 0;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 1.8rem;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .menu-toggle:hover {
        transform: scale(1.1);
    }

    .navbar a {
        font-size: 1.2em;
        padding: 12px;
        color: white;
        text-align: center;
        transition: background 0.3s ease-in-out;
    }

    .navbar a:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    /* Hero Section */
    .hero {
        background-size: cover;
        background-position: center;
        height: 70vh;
        padding: 20px;
        text-align: center;
        position: relative;
        animation: fadeIn 1s ease-in-out;
        transition: background 0.3s ease-in-out;
    }

    /* Gradient Overlay */
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        transition: background 0.3s ease-in-out;
    }

    .hero-title {
        font-size: 2rem;
        position: relative;
        z-index: 2;
        color: white;
    }

    .hero-title-1 {
        font-size: 2rem;
        position: relative;
        z-index: 2;
        color: white;
        padding-top: 100px;
    }

    .hero-subtitle {
        font-size: 1rem;
        position: relative;
        z-index: 2;
        color: white;
    }

    .hero-overlay .btn {
        width: 85%;
        font-size: 1rem;
        padding: 12px;
        margin-top: 15px;
        position: relative;
        z-index: 2;
    }

    /* Animasi Fade-in */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
    .animate-fade-in {
    animation: fadeIn 1s ease forwards;
}

    /* Mengaplikasikan animasi slide up */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    opacity: 0; /* Awalnya elemen tersembunyi */
    transform: translateY(50px); /* Elemen berada di bawah dari posisi normal */
    animation: slideUp 0.7s ease forwards;
}

    /* Header */
    header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    /* Navbar Styling */
    .navbar-nav {
        text-align: center;
    }

    /* Features Section */
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 90%;
        margin-bottom: 20px;
        padding: 15px;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }

    .feature:hover {
        transform: scale(1.05);
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }

    .btn-primaryR {
        display: none;
    }

    /* Footer */
    footer {
        padding: 15px 10px;
        text-align: center;
        background: #222;
        color: white;
    }

    footer .social-icons a {
        font-size: 1.6rem;
        margin: 0 12px;
        transition: transform 0.3s ease-in-out;
    }

    footer .social-icons a:hover {
        transform: scale(1.2);
    }
}
